.table-body {
  &__cell {
    display: inline-block;
    min-width: 16px;

    position: relative;
    text-align: center;

    font-size: $primary-fz;
    color: $primary-color;

    cursor: pointer;

    &::before {
      @include datePseudo;
    }

    &--current {
      &::before {
        border: 1px solid $primary-accent-color;
      }
    }

    &:hover {
      &::before {
        background-color: $focus-bg-color;
      }
    }

    &--active {
      color: #fff;
      &::before {
        background-color: $primary-accent-color;
      }

      &:hover {
        &::before {
          background-color: $primary-accent-color;
        }
      }
    }

    &--anotherMonth {
      color: $primary-accent-color;
    }

    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
