@mixin datePseudo {
  position: absolute;
  z-index: -1;
  content: '';

  width: 27px;
  height: 27px;

  border-radius: 50%;

  top: -4px;
  left: 6px;
}

@mixin whiteSpace($amount) {
  line-height: $amount;

  content: '\200C';
  display: block;
}
