// Colors
$primary-accent-color: #876fdf;
$secondary-accent-color: #7057cd;
$shadow-color: #707070;
$outline-color: #979797;
$focus-bg-color: #f2f4f5;

$primary-color: #4c4c4c;
$secondary-color: #a0a0a0;

// Typography
$primary-fz: 14px;
$secondary-fz: 12px;
$accent-fw: 700;

// States
